.container {
    margin: 0 auto;
    text-align: center;
}

.loading {
    margin-top: 10rem;
}

.mapbox {
    margin: 0 auto;
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 80%;
}