.mapbox {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 100vh;
}

.slider {
    display: flex;
    height: 100vh;
    flex-direction: column; 
}