.container {
    margin: 0 auto;
    text-align: center;
}

.loading {
    margin-top: 10rem;
}

.mapbox {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}