@mixin main {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    @include main();
}

.mapbox {
    @include main();
}