.box {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 1rem 4rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.mapcontainer {
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.details {
    margin: 0 auto;
}

.map {
    width: 80vh;
    height: 80vh;
    object-fit: contain;
}







