.box {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 1vh;
    padding: 1vh 5vh;
    box-shadow: .5vh .5vh 1vh rgba(0, 0, 0, 0.4);
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.mapcontainer {
    margin: 0 auto;
    height: 100%;
}

.map {
    width: 90vh;
    height: 90vh;
    object-fit: contain;
}







