%button-shared {
    outline: none;
    width: 3rem;
    height: 3rem;
    text-align: center;
    border: none;
    font-size: 1.3rem;
    font-weight: 500;
}

.search {
    display:flex;
    flex-direction:row;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}

.searchinput {
    flex-grow: 2;
    height: 3rem;
    border: none;
    outline: none;
    background-color: rgba(255,255,255,0.9);
    text-align: center;
}

input:focus::placeholder {
    color: transparent;
}

.delete {
    @extend %button-shared;
    background-color: indianred;
    border-radius: 0 0 15px 0;
}

.tomap {
    @extend %button-shared;
    background-color: cornflowerblue;
    border-radius: 0 0 0 15px;
}